<header>
    <div class="header-logo-block">
        <img class="header-logo" src="{{#if data.root}}{{data.root}}{{/if}}/assets/imgs/logo.png" alt="" />
        <p class="header-name">Lunch Box</p>
    </div>

    <div class="header-btn-block">
        
        {{#if login }}

        {{#if clerk}}
        <a href="/clerk-dashboard"><span class="login-name">{{firstName}} {{lastName}}</span></a>
        {{else}}

        <a href="/customer-dashboard"><span class="login-name">{{firstName}} {{lastName}}</span></a>

        {{/if}}

         <a class="login-btn" href="/logout">Logout</a>
         {{else}}
         <a class="signup-btn" href="/signup">Sign up</a>
        <a class="login-btn" href="/login">Login</a>
        {{/if}}

        <img class="menu-btn" src="/assets/imgs/icon-menu.png" alt="" />
    </div>
</header>

<nav class="nav-menu hidden">
    <ul class="nav-menu-list">
        <li class="nav-menu-list-item">
            <a href="/onthemenu" class="nav-menu-list-item-menu">ON THE MENU</a>
        </li>

        <li class="nav-menu-list-item">
            <a href="#" class="nav-menu-list-item-menu">PRICING</a>
        </li>

        <li class="nav-menu-list-item">
            <a href="#" class="nav-menu-list-item-menu">BLOG</a>
        </li>

        <li class="nav-menu-list-item">
            <a href="#" class="nav-menu-list-item-menu">FAQ</a>
        </li>
    </ul>
</nav>