{{#each data.menus}}
<section class="section-meals">
    <h1>{{group}}</h1>
    <div class="meals-list">

        {{#each meals}}
        <div class="meals-list-item" data-id="{{_id}}">

            <img src="/assets/upload/{{image}}" alt="">

            <h3>{{title}}</h3>
            <p>{{included}}</p>
        </div>
        {{/each}}
    </div>

</section>

{{/each}}

<script>
    const meals = document.querySelectorAll('.meals-list-item');
    for (let i=0; i<meals.length; i++){
        meals[i].addEventListener('click', function(e){
            const id = e.currentTarget.getAttribute('data-id');
            location.href = `/onthemenu/${id}`
        })
    }
</script>
