<section class="section-lunchbox-meals">
    <h1>Lunch Box Meals</h1>
    <div class="meals-list">

        {{#each data.lunchBoxMeals}}
        <div class="meals-list-item">

            <img src="/assets/{{imageUrl}}" alt="">

            <h3>{{title}}</h3>
            <p>{{included}}</p>
        </div>
        {{/each}}
    </div>

</section>

<section class="section-lunchbox-meals">
    <h1>Single Meals</h1>
    <div class="meals-list">

        {{#each data.singleMeals}}
        <div class="meals-list-item">

            <img src="/assets/{{imageUrl}}" alt="">

            <h3>{{title}}</h3>
            <p>{{included}}</p>
        </div>
        {{/each}}
    </div>

</section>